<div class="jumbotron workshop-header font_col">
  <h4><%= current_workshop.name %></h4>
  <hr>

  <div class="row">
      <div class="col-md-8">
        <div class="jumbotron header-small-sec">
          <% if @reservation.any? %>
            <%= render 'reservations/index' %>
          <% elsif %>
          <h2>No reservation found.</h2>
          <% end %>

        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="jumbotron header-small-sec">
          <h4>Place Reservation</h4>
          <br>
          <%= link_to "Select", new_reserv_path, class: "btn btn-default", target: "blank" %>
          <br><hr><br>
          <h4>View Appointment</h4>
          <br>
          <%= link_to "Select", '#', class: "btn btn-default" %>
          <br><hr><br>
          <h4>View Reservation Statistics</h4>
          <br>
          <%= link_to "Select", 'report', class: "btn btn-default" %>
        </div>
      </div>
  </div>
</div>
