
    <!-- Workshop Logged In Menu -->
    <% if logged_in? %>
      <%= render 'landing_pages/dashboard' %>

    <!-- Home page Menu (User not logged In) -->
    <% else %>
      <div class="center panel col-md-12 main_header">
        <h1>CarServIt</h1><br><br>
        <p>YOUR WORKSHOP SERVICING E-MANAGER</p>
        <hr>

        <div class="row">
          <br><br>
            <!-- Services Section -->
            <div class="center col-md-3">
              <div class="my-inner panel panel-body section-sizing service-prop">
                <br><br>
                <%= image_tag("user.png", alt: "CarServIt logo", :size => "100x100")%>
                <br><br>
                <h4>All-in-one workshop management assistant.</h4>
              </div>
            </div>

            <!-- User Friendly Section -->
            <div class="center col-md-3 ">
              <div class="my-inner panel panel-body section-sizing dashboard-panel user-friendly-prop">
                <br><br>
                <%= image_tag("cloud.png", alt: "User friendly", :size => "100x100")%>
                <br><br>
                <h4>Store your reservations on the cloud.</h4>
              </div>
            </div>

            <!-- Computerized Section -->
            <div class="center col-md-3 ">
              <div class="my-inner panel panel-body section-sizing dashboard-panel computerized-prop">
                <br><br>
                <%= image_tag("maintainance.png", :size => "100x100")%>
                <br><br>
                <h4>Worries-free management and maintainance.</h4>
              </div>
            </div>

            <!-- Notification Section -->
            <div class="center col-md-3 ">
              <div class="my-inner panel panel-body section-sizing dashboard-panel notification-prop">
                <br><br>
                <%= image_tag("sms.png", alt: "SMS", :size => "100x100")%>
                <br><br>
                <h4>Automated notification to your customer.</h4>
              </div>
            </div>
        </div>
        <br>
      </div>

      <div class="row">
        <br><br><br>
      </div>

      <!-- Subscribtion Section -->
      <div class="panel panel-body center subscribe-prop">
        <%= image_tag("email.png", :size => "200x200")%>
        <h1 class="section-heading">Subscribe</h2>
        <h3>Subscribe to get more updates about CarServIt!</h3>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <form action="https://carservit.us11.list-manage.com/subscribe/post?u=d0208299ea8b17c26bc646288&amp;id=2dcfc1f698" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="form-group">
                    <input type="email" name="EMAIL" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_d0208299ea8b17c26bc646288_2dcfc1f698" tabindex="-1" value=""></div>
                  <br>
                  <%= link_to "Subscribe", '#', class: "btn btn-lg btn-primary" %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  <% end %>
