
<h4 class="center"><b>All Reservation</b></h4>

<%= form_tag(reservations_path, :method => "get", class: "navbar-form") do %>
  <div class="input-append center">
    <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Reservation" %>
    <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
      of using a Rails form helper -->
  <button class="btn btn-primary" type="submit"><b class="icon-search">Search</b></button>
</div>
<% end %>


<!-- <ul class="reserved"> -->
    <table class="table">
      <tr>
        <td class="no-repeat-header">ID</td>
        <td class="no-repeat-header">Reg Number</td>
        <td class="no-repeat-header">Time</td>
        <td class="no-repeat-header">Date</td>
        <td class="no-repeat-header">Action</td>
        <td class="no-repeat-header">Action</td>
      </tr>
      <% @reservation.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.car_reg_number %></td>
        <td><%= reservation.time.strftime('%I:%M %P') %></td>
        <td><%= reservation.date %></td>
        <td><%= link_to "View", reservation %></td>
        <td><%= link_to "Edit", edit_reservation_path(reservation) %></td>

      </tr>
      <% end %>
    </table>
