<% provide(:title, 'Reservation') %>
<h1>Reservation</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@reservation) do |f| %>
    <%= render 'shared/reservation_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :contact_number %>
      <%= f.number_field :contact_number, class: 'form-control' %>

      <%= f.label :car_model %>
      <%= f.text_field :car_model, class: 'form-control' %>

      <%= f.label :car_registration_number %>
      <%= f.text_field :car_reg_number, class: 'form-control' %>

      <%= f.label :service_type %>
      <%= f.select :service_type, options_for_select(["Minor Service", "Major Service", "Car Checkup"]), {}, { class: 'form-control' } %>

      <%= f.label :time %>
      <%= f.time_field :time, class: 'form-control' %>

      <div class="form-group">
          <div class='input-group date' id='datetimepicker1' name='reservation[date]'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
      </div>

      <%= f.submit "Confirm", class: "btn btn-primary" %>
      <br></br>
      <%= button_tag "Reset", type: :reset, class: "btn btn-danger btn-block" %>
      <br></br>
      <%= link_to "Back" , root_path , class: "btn btn-default btn-block" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
