<% provide(:title, "Appointments") %>

<%= stylesheet_link_tag    "application", media: 'all' %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>

<%= csrf_meta_tags %>

  <div class="center jumbotron">
    <h2>Today's Appointments</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= column_chart @appointment_data,
        {library:
          { hAxis: {title: "Time"},
            vAxis: {title: "Number of Reservations"}
          }
        } %>
      </div>
    </div>

    <br>
    <%= link_to "Back", root_path, class: "btn btn-primary" %>
  </div>
