<% provide(:title, "Reports") %>

<%= stylesheet_link_tag    "application", media: 'all' %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>

<%= csrf_meta_tags %>

  <div class="center jumbotron">
    <h2>Reservation Report</h2>

    <br>
      <%= @data %>
      <br>
      <%= @groupped_data %>
      <br>
      <%= @reservation_report %>

    <br>
    <!--this line creates the gant chart-->
    <%= column_chart @reservation_report,
        {library:
          { title: "Reservation Statistics",
            hAxis: {title: "Months"},
            vAxis: {title: "Reservations"}
          }
         } %>

    <hr>

    <!--this line creates the chart -->
    <%= pie_chart Reservation.unscoped.group(:service_type).count,
        {library:
          { title: "Reservation Statistics",
            hAxis: {title: "Months"},
            vAxis: {title: "Reservations"}
          }
        } %>

    <br>
    <%= link_to "Back", root_path, class: "btn btn-primary" %>
  </div>
